In [13]:
import pandas as pd

df = pd.DataFrame([100,101,102,103,104,105,106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120])



daily_return = df.pct_change(1) # 1 for ONE DAY lookback
monthly_return = df.pct_change(2) # 21 for ONE MONTH lookback 
annual_return = df.pct_change(10) # 252 for ONE YEAR lookbac

In [14]:
print('daily')
print(daily_return)

print('2 days')
print(monthly_return)

print('10 days')
print(annual_return)

daily
           0
0        NaN
1   0.010000
2   0.009901
3   0.009804
4   0.009709
5   0.009615
6   0.009524
7   0.009434
8   0.009346
9   0.009259
10  0.009174
11  0.009091
12  0.009009
13  0.008929
14  0.008850
15  0.008772
16  0.008696
17  0.008621
18  0.008547
19  0.008475
20  0.008403
2 days
           0
0        NaN
1        NaN
2   0.020000
3   0.019802
4   0.019608
5   0.019417
6   0.019231
7   0.019048
8   0.018868
9   0.018692
10  0.018519
11  0.018349
12  0.018182
13  0.018018
14  0.017857
15  0.017699
16  0.017544
17  0.017391
18  0.017241
19  0.017094
20  0.016949
10 days
           0
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10  0.100000
11  0.099010
12  0.098039
13  0.097087
14  0.096154
15  0.095238
16  0.094340
17  0.093458
18  0.092593
19  0.091743
20  0.090909

In [15]:

df['3ma'] = df[0].rolling(window=3).mean()
df['5ma'] = df[0].rolling(window=5).mean()

df

      0    3ma    5ma
0   100    NaN    NaN
1   101    NaN    NaN
2   102  101.0    NaN
3   103  102.0    NaN
4   104  103.0  102.0
5   105  104.0  103.0
6   106  105.0  104.0
7   107  106.0  105.0
8   108  107.0  106.0
9   109  108.0  107.0
10  110  109.0  108.0
11  111  110.0  109.0
12  112  111.0  110.0
13  113  112.0  111.0
14  114  113.0  112.0
15  115  114.0  113.0
16  116  115.0  114.0
17  117  116.0  115.0
18  118  117.0  116.0
19  119  118.0  117.0
20  120  119.0  118.0

In [16]:

df['daily'] = df[0].pct_change(1)
df['5days'] = df[0].pct_change(5)
df['10days'] = df[0].pct_change(10)
df['20days'] = df[0].pct_change(20)

df

      0    3ma    5ma     daily     5days    10days  20days
0   100    NaN    NaN       NaN       NaN       NaN     NaN
1   101    NaN    NaN  0.010000       NaN       NaN     NaN
2   102  101.0    NaN  0.009901       NaN       NaN     NaN
3   103  102.0    NaN  0.009804       NaN       NaN     NaN
4   104  103.0  102.0  0.009709       NaN       NaN     NaN
5   105  104.0  103.0  0.009615  0.050000       NaN     NaN
6   106  105.0  104.0  0.009524  0.049505       NaN     NaN
7   107  106.0  105.0  0.009434  0.049020       NaN     NaN
8   108  107.0  106.0  0.009346  0.048544       NaN     NaN
9   109  108.0  107.0  0.009259  0.048077       NaN     NaN
10  110  109.0  108.0  0.009174  0.047619  0.100000     NaN
11  111  110.0  109.0  0.009091  0.047170  0.099010     NaN
12  112  111.0  110.0  0.009009  0.046729  0.098039     NaN
13  113  112.0  111.0  0.008929  0.046296  0.097087     NaN
14  114  113.0  112.0  0.008850  0.045872  0.096154     NaN
15  115  114.0  113.0  0.008772  0.045455  0.095238     NaN
16  116  115.0  114.0  0.008696  0.045045  0.094340     NaN
17  117  116.0  115.0  0.008621  0.044643  0.093458     NaN
18  118  117.0  116.0  0.008547  0.044248  0.092593     NaN
19  119  118.0  117.0  0.008475  0.043860  0.091743     NaN
20  120  119.0  118.0  0.008403  0.043478  0.090909     0.2